@page
@model BEST_SHOP.admin.messages.DetailsModel
@{
}
<h2 class="my-3">Message Details</h2>
<div class="row mb-2">
    <label class="col-sm-3 col-form-label">ID</label>
    <div class="col-sm-7">
        <input type="text" readonly class="form-control-plaintext"values="@Model.messageinfo.ID" />
      </div>

</div>
<div class="row mb-2">
    <label class="col-sm-3 col-form-label">UserName</label>
    <div class="col-sm-7">
        <input type="text" readonly class="form-control-plaintext" values="@Model.messageinfo.FirstName @Model.messageinfo.LastName" />
    </div>

</div>

<div class="row mb-2">
    <label class="col-sm-3 col-form-label">Email</label>
    <div class="col-sm-7">
        <input type="text" readonly class="form-control-plaintext" values="@Model.messageinfo.Email"/>
    </div>

</div>
<div class="row mb-2">
    <label class="col-sm-3 col-form-label">Phone</label>
    <div class="col-sm-7">
        <input type="text" readonly class="form-control-plaintext" values="@Model.messageinfo.Phone" />
    </div>

</div>
<div class="row mb-2">
    <label class="col-sm-3 col-form-label">Subject</label>
    <div class="col-sm-7">
        <input type="text" readonly class="form-control-plaintext" values="@Model.messageinfo.Subject"/>
    </div>

</div>
<div class="row mb-2">
    <label class="col-sm-3 col-form-label">Message</label>
    <div class="col-sm-7">
        <textarea  readonly class="form-control-plaintext" values="@Model.messageinfo.Message"></textarea> />
    </div>

</div>

<div class="row mb-2">
    <label class="col-sm-3 col-form-label">CreatedAt</label>
    <div class="col-sm-7">
        <input type="text" readonly class="form-control-plaintext" values="@Model.messageinfo.CreatedAt" />
    </div>

</div>

<div class="offset-sm-3 col-sm-7">
    <a class="btn btn-primary" href="/admin/Message/Index" role="button">OK</a>
</div>